################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SENAME.Senainfo.ModFichaIndividual.WEB/Web.Release.config
/SENAME.Senainfo.ModFichaIndividual.WEB/Web.Debug.config
/SENAME.Senainfo.ModFichaIndividual.WEB/Web.config
